/* hide the copy text */

.clipboard-copy-txt {
    display: none !important;
    background-color:red;
}

 .copyButton {
    position: absolute;
    top: auto;
    right: 0;
    margin-right:10px;
    z-index: auto;
    background-color:red
}
